<div class="outerBorder-navPage glowing-circle">
  
  <div class="buttonBox-nav">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <a href="{% url 'cit2020:quiz' %}">
      start</a
    >
    {% endif %}
    <br />
    <a href="{% url 'cit2020:about' %}">
      About
      
    </a>
    <br />
    <a href="{% url 'cit2020:rules' %}">
      Instructions
    </a>
    <br />
    <a href="{% url 'cit2020:lboard' %}">
      Leaderboard
    </a>
    <br />
    {% if user.is_authenticated %}
    <a href="{% url 'cit2020:view_profile' %}">
      view_profile
    </a>
    {% endif %}
    <br />

    {% comment %}
    <button
      type="button"
      class="btn start rounded-corners-gradient-borders-navPage navButton"
      onclick="location.href='{% url 'quiz' %}'"
    >
      start
    </button>
    {% endcomment %}
  </div>
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="start navButton glowing-circle-backButton logoutBtn">Log Out </button>
  </form>
</div>
{% endif %}