{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #111334;
        color: white;
        background-image: url("{% static 'Assets/bg25.png' %}");
        background-size: 100% 100%;
    }

    .bg-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .outerBorder {
        width: 90%;
        max-width: 900px;
        padding: 2rem;
        border: 2px solid white;
        border-radius: 20px;
        background-color: #22254a;
        animation: fadeInScale 1s ease-out forwards;
    }
    @keyframes fadeInScale {
        0% {
            opacity: 0; /* Start invisible */
            transform: scale(0.95); /* Slightly smaller */
        }
        100% {
            opacity: 1; /* Fully visible */
            transform: scale(1); /* Original size */
        }
    }

    .image {
        position: absolute;
        width: 5rem;
        height: auto;
        top: 1rem;
        left: 1rem;
    }

    .backButton {
        position: absolute;
        border: 2px solid #fff;
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 0 10px;
        right: 4%;
        top: 4%;
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: #0000004d;
        text-align: center;
        z-index: 100;
        cursor: pointer;
    }
    
    .backButton:hover {
        background-color: #fff;
        color: black;
        transform: scale(1.1);
    }

    .content {
        text-align: center;
    }

    .para-1 {
        font-size: 2rem;
        margin-bottom: 4rem; /* Adjusted spacing */
    }

    .para-2 {
        font-size: 1.5rem;
        margin-bottom: 1rem; /* Added spacing for clarity */
    }

    .para-3 {
        font-size: 1.5rem;
        margin-top: 2rem; /* Added spacing for clarity */
    }

    .image{
        width: 9rem;
        height: auto;
        top: 1rem;
        left: 1rem;
    }

    a {
        text-decoration: none;
        color: #0d6efd;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
    @media (max-width:891px) {
        .outerBorder{
            padding: 4rem 2rem;
        }

        .image{
            width: 7.5rem;
            height: auto;
            top: 1rem;
            left: 1rem;
        }
    }

    @media (max-width: 768px) {
        .para-1 {
            font-size: 1.5rem;
            margin-bottom: 5rem; /* Adjusted spacing */
        }

        .para-2 {
            font-size: 1.2rem;
            margin-bottom: 1rem; /* Added spacing for clarity */
        }

        .para-3 {
            font-size: 1.2rem;
            margin-top: 2rem; /* Added spacing for clarity */
        }
        .image{
            width: 7rem;
            height: auto;
            top: 1rem;
            left: 1rem;
        }
    }
    @media (max-width: 480px) {
        .para-1 {
            font-size: 1.2rem;
            margin-bottom: 3rem; /* Adjusted spacing */
        }

        .para-2 {
            font-size: 1rem;
            margin-bottom: 0.5rem; /* Added spacing for clarity */
        }

        .para-3 {
            font-size: 1rem;
            margin-top: 1rem; /* Added spacing for clarity */
        }
        .image{
            width: 5rem;
            height: auto;
            top: 1rem;
            left: 1rem;
        }
    }

</style>

<div class="bg-container">
    <a href="{% url 'cit2020:index' %}">
        <button type="button" class="btn backButton"><</button>
    </a>
    <img class="image" src="{% static './Assets/whiteIste.png' %}" alt="Logo">
    <div class="outerBorder">
        <div class="content">
            <h2 class="para-1"><strong>You Have Attempted All Questions</strong></h2>
            {% if player.qualified == True %}
            <h2 class="para-2">
                <strong>Your Preliminary Round Score is 
                    <span style="color: #4ecdc4">{{ player.score }}</span> <br>and Final Round Score is 
                    <span style="color: #4ecdc4">{{ player.final_score }}</span>
                </strong>
            </h2>
            <h2 class="para-3">
                <strong>Visit <a href="{% url 'cit2020:lboard' %}">LEADERBOARD</a> for Rank</strong>
            </h2>
            {% else %}
            <h2 class="para-2">
                <strong>Your Preliminary Round Score is 
                    <span style="color: #4ecdc4">{{ player.score }}</span>
                </strong>
            </h2>
            <h2 class="para-3">
                <strong>Visit <a href="{% url 'cit2020:lboard' slot=player.slot %}" style="color: #4ecdc4">LEADERBOARD</a> for Rank</strong>
            </h2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}